.course-catelog{
    display: grid;
    grid-template-columns: repeat(3,390px);
}
@media (max-width: 576px) { 
    .course-catelog{
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(1,300px); */
        justify-content: center;
    }
}