.courses-sidebar{
    margin-top: 20px;
    background-color: rgb(248, 248, 248);
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}
.courses{
    width: 70%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    justify-content: center;

}
.sidebar-btn{
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    margin: 5px;
    width: 180px;
    padding: 5px;
}
.sidebar-text{
    margin: 10px;
    font-size: large;
    font-weight: 400;
}
.sidebar-btn:hover{
    color: royalblue;
}
.courses-header{
    color: white;
    height: 100px;
    margin-top: 20px;
    background-color: #0072dd;;
}
@media (max-width: 576px) { 
    .courses-sidebar{
        display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    }
    .courses{
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(1,300px); */
        justify-content: center;
    }
}